# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.out

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

GEMM/src/*.o
GEMM/include/cuda_gemm_utils.cuh:Zone.Identifier
GEMM/include/*.Identifier
GEMM/src/*.Identifier
stream/add
stream/overlap
GEMM/report1.nsys-rep
.gitignore
Reductions/reduction
Parallel Character Frequency Counter/warandpeace.txt
Parallel Character Frequency Counter/warandpeace.txt:Zone.Identifier
*.sqlite
report1.nsys-rep
Reductions/*.nsys-rep
